@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");


/* 
git init git ni ishga tushurish
git add . 
git commit -m "name"
git log 
git status
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:500px) {

    h2,
    h1 {
        font-style: italic;
    }
}

.button:hover {
    box-shadow: 1px 1px 20px 1px rgb(172, 165, 165);
    transition: 0.3s linear;
    border: 2px dashed red;
}

/* container */
@media (min-width:1400px) {
    .karobka {
        max-width: 1104px;
    }
}

/* header */

@media (max-width:875px) {
    .list {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        left: -100%;
        top: 0;
        background-color: #24af24;
        transition: 0.5s;
    }

    #menu {
        display: block;
    }

    #check:checked~.list {
        left: 0;
    }

    #x {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .link2 {
        color: #fff;
    }

}

@media (max-width:500px) {
    .log {
        display: none;
    }

    .btn {
        display: block;
    }
}

@media (max-width:400px) {
    .list {
        width: 100%;
        transition: 0.4s;
    }
}

/* hero */
.aaa {
    border-bottom: 2px solid #CACACA;

}

@media (max-width:798px) {
    .h1 {
        font-size: 40px;
        width: 100%;
    }
}

@media (max-width:608px) {
    .h1 {
        margin-top: -50px;
        font-size: 30px;
    }
}

@media (max-width:501px) {
    .bbb {
        display: block;
    }
}

@media (max-width:386px) {
    .h1 {
        font-size: 23px;
    }

    .p {
        font-style: italic;
        font-size: 13px;
        width: 100%;
    }

    .bbb {
        width: 100%;
    }
}

/*  */

@media (max-width:700px) {
    .paragrf {
        width: 100%;
    }
}

@media (max-width:460px) {
    .paragrf {
        font-size: 13px;
        font-style: italic;
    }

    .iphone {
        margin-top: -40px;
    }
}

/*  */
.grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width:1000px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .mb {
        margin-bottom: 30px;
    }
}

@media (max-width:700px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:500px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*  */
@media (max-width:950px) {
    .title {
        font-size: 20px;
    }

    .peg {
        font-size: 14px;
    }
}

@media (max-width:850px) {
    .title {
        font-size: 18px;
    }

    .peg {
        font-size: 13px;
    }

    .but {
        width: 150px;
        height: 40px;
        font-size: 17px;
    }
}

@media (max-width:750px) {
    .faq {
        flex-direction: column;
    }

    .order {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        text-align: center;
        font-size: 21px;
    }

    .peg {
        text-align: center;
    }
}

@media (max-width:350px) {
    .title {
        font-size: 18px;
        font-style: italic;
    }

    .peg {
        font-size: 11px;
        font-style: italic;
    }

    .but {
        width: 100%;
    }
}

/*  */
.open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 50%;
    height: 70px;
    background-color: aqua;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding-left: 25px;
    border: 2px dashed red;
}

input {
    outline: none;
    background-color: transparent;
}

input::placeholder {
    color: red;
    border-bottom: 2px dashed red;
}

@media (max-width:900px) {
    .butt {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }

    form {
        width: 80%;
    }

    .ptp {
        width: 90%;
    }
}

@media (max-width:600px) {
    .butt {
        width: 130px;
        height: 45px;
        font-size: 14px;
        display: block;
    }

    form {
        width: 80%;
    }

    .ptp {
        width: 100%;
        font-style: italic;
    }
}

@media (max-width:480px) {
    .butt {
        width: 90%;
        height: 45px;
    }

    form {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        padding: 25px;
    }
}

/*  */
.ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.li {
    width: 100%;
    background-color: aqua;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.h2h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;

}

.ppp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.li:hover {
    box-shadow: 1px 1px 20px 1px #b3abab;
}

@media (max-width:950px) {
    .ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:680px) {
    .ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .h2h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .ppp {
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width:390px) {
    .ul {
        gap: 10px;
    }

    .li {
        gap: 8px;
        padding: 10px;
    }

    .h2h2 {
        font-size: 14px;
        line-height: 20px;
    }

    .ppp {
        font-size: 10px;
        line-height: 15px;
    }
}

@media (max-width:346px) {
    .li {
        gap: 7px;
    }

    .h2h2 {
        font-size: 12px;
        line-height: 17px;
    }

    .ppp {
        font-size: 9px;
        line-height: 13px;
    }
}

/*  */
.la {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;

}

.ppppp {
    color: #fff;
    width: 300px;
}

.a {
    color: white;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.lo {
    margin-bottom: 30px;
}

.q {
    width: 150px;
}

.fot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width:870px) {
    .fot {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .ppppp {
        width: 100%;
        text-align: center;
    }
}

@media (max-width:500px) {
    .dxx {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:350px) {
    .dxx {
        grid-template-columns: repeat(1, 1fr);
    }

    .ppppp,
    .la,
    .a {
        font-style: italic;
    }

    .q {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}